<html>
<head>
	<title>Twitter</title>
	<link href="../public/styles/style.css" rel="stylesheet">
</head>

<body>

<div id="header">

	<nav class="left">

		<div class="button" id="home">
			Home
		</div>

		<div class="button" id="notifications">
			Notifications
		</div>

		<div class="button" id="discover">
			Discover
		</div>

		<div class="button" id="me">
			Me
		</div>

	</nav>

	<div class="logo">
	</div>

	<nav class="right">

		<div class="search">
			<form id="search-bar">
				<input type="text" placeholder="Search"></input>
				<span class="search-icon"></span>
			</form>
		</div>

		<div class="button" id="messages">
		</div>

		<div class="button" id="settings">
		</div>

		<div class="button" id="compose">
		</div>

	</nav>

</div>















</body>






</html>